<h2>RxJS</h2>

<nav>
  <a [routerLink]="['/rxjs', 'timer']" routerLinkActive="active">Timer</a>
  <a [routerLink]="['/rxjs', 'converting-array']" routerLinkActive="active">Converting Array</a>
  <a [routerLink]="['/rxjs', 'converting-object']" routerLinkActive="active">Converting Object</a>
  <a [routerLink]="['/rxjs', 'converting-set']" routerLinkActive="active">Converting Set</a>
  <a [routerLink]="['/rxjs', 'converting-map']" routerLinkActive="active">Converting Map</a>
</nav>

<router-outlet></router-outlet>
