<h3>Watch Child Event</h3>

<em>Hover mouse over bordered box</em>

<p class="p0">p0 - Observable from DOM Event</p>

<p (mousemove)="p1Handler($event)">p1 - Observable from Subject</p>

<child-event-producer (event1)="p2Handler1($event)" (event3)="p2Handler3($event)">
  p2 - Observable from EventEmitter output of child component
</child-event-producer>

<p (mousemove)="p3Handler($event)">p3 - Observable from EventEmitter attached to template element</p>

<p #p4>p4 - Observable from EventEmitter attached to local template variable</p>

<h4>-- Events --</h4>
<div *ngFor="let message of messages">
  {{message}}
</div>

