<h2>Custom form validations</h2>
<form [formGroup]="group" (ngSubmit)="submit(group.value)">
  <div class="field" [class.error]="!group.controls['sku'].valid && group.controls['sku'].touched">
    <label for="sku">SKU</label>
    <input type="text" name="sku" id="sku" [formControl]="group.controls['sku']">
    <div *ngIf="!group.controls['sku'].valid">
      sku is invalid
    </div>
    <div *ngIf="group.controls['sku'].hasError('required')">
      sku is required
    </div>
    <div *ngIf="group.controls['sku'].hasError('invalidSku')">
      sku must start with 123
    </div>
    <div *ngIf="!group.valid">
      form is invalid
    </div>
  </div>
  <button type="submit" [disabled]="!group.valid">Submit</button>
</form>
