<h2>Animations</h2>
<button (click)="addHero()">Add hero</button>
<button (click)="removeHero()">Remove hero</button>
<animated-group [heroes]="heroes"></animated-group>
<hr>
<animated-bounce [heroes]="heroes"></animated-bounce>
<hr>
<animated-flyby [heroes]="heroes"></animated-flyby>
<hr>
<animated-shrink [heroes]="heroes"></animated-shrink>
<hr>
<animated-states [heroes]="heroes"></animated-states>
<hr>
<animated-entrance [heroes]="heroes"></animated-entrance>
<hr>
<animated-list [heroes]="heroes"></animated-list>

