<h1>
  {{title}}
</h1>
<h2>Pipes</h2>
<power-booster></power-booster>
<h2>Lifecycle Hooks</h2>
<peek-a-boo-parent></peek-a-boo-parent>
<spy-parent></spy-parent>
<on-changes-parent></on-changes-parent>
<after-view-parent></after-view-parent>
<after-content-parent></after-content-parent>
<h2>HTTP Client</h2>
<h3>Hero List</h3>
<hero-list></hero-list>
<h3>Wikipedia</h3>
<wikipedia></wikipedia>
<h2>Dynamic Form</h2>
<dynamic-form [questions]="questions"></dynamic-form>
<h2>Attribute Directives</h2>
<h3>Highlight directive</h3>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color" [defaultColor]="'orange'">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aspernatur distinctio ea enim et impedit in libero natus nisi, officiis quam rem saepe sed totam ullam vero voluptatem, voluptatum.</p>
<h2>Animations</h2>
<button (click)="addHero()">Add hero</button>
<button (click)="removeHero()">Remove hero</button>
<animated-group [heroes]="heroes"></animated-group>
<hr>
<animated-bounce [heroes]="heroes"></animated-bounce>
<hr>
<animated-flyby [heroes]="heroes"></animated-flyby>
<hr>
<animated-shrink [heroes]="heroes"></animated-shrink>
<hr>
<animated-states [heroes]="heroes"></animated-states>
<hr>
<animated-entrance [heroes]="heroes"></animated-entrance>
<hr>
<animated-list [heroes]="heroes"></animated-list>
<h2>Basics</h2>
<hello-world></hello-world>
<hr>
<hello-name></hello-name>
<hr>
<hello-list></hello-list>
<hr>
<click-button></click-button>
<hr>
<bound-input></bound-input>
<hr>
<class-host-option></class-host-option>
<hr>
<action-links></action-links>
<hr>
<p>
  This component uses a model class to store the data
</p>
<form-data (newData)="addData($event)"></form-data>
<data-model *ngFor="let thisData of sortedData()" [myData]="thisData"></data-model>
<hr>
<inventory-app></inventory-app>
<hr>
<if></if>
<hr>
<switch></switch>
<hr>
<app-style></app-style>
<hr>
<app-class></app-class>
<hr>
<nested-for></nested-for>
<hr>
<simple-form></simple-form>
<hr>
<form-builder></form-builder>
<hr>
<explicit-validation></explicit-validation>
<hr>
<custom-validation></custom-validation>
<hr>
<value-changes></value-changes>
<hr>
<two-way-bind></two-way-bind>
<hr>
