<h1>
  {{title}}
</h1>
<h2>Animations</h2>
<button (click)="addHero()">Add hero</button>
<button (click)="removeHero()">Remove hero</button>
<animated-states [heroes]="heroes"></animated-states>
<hr>
<animated-entrance [heroes]="heroes"></animated-entrance>
<hr>
<animated-list [heroes]="heroes"></animated-list>
<h2>Basics</h2>
<hello-world></hello-world>
<hr>
<hello-name></hello-name>
<hr>
<hello-list></hello-list>
<hr>
<click-button></click-button>
<hr>
<bound-input></bound-input>
<hr>
<class-host-option></class-host-option>
<hr>
<action-links></action-links>
<hr>
<p>
  This component uses a model class to store the data
</p>
<form-data (newData)="addData($event)"></form-data>
<data-model *ngFor="let thisData of sortedData()" [myData]="thisData"></data-model>
<hr>
<inventory-app></inventory-app>
<hr>
<if></if>
<hr>
<switch></switch>
<hr>
<app-style></app-style>
<hr>
<app-class></app-class>
<hr>
<nested-for></nested-for>
<hr>
<simple-form></simple-form>
<hr>
<form-builder></form-builder>
<hr>
<explicit-validation></explicit-validation>
<hr>
<custom-validation></custom-validation>
<hr>
<value-changes></value-changes>
<hr>
<two-way-bind></two-way-bind>
<hr>
