<h1>
  {{title}}
</h1>

<nav>
  <a routerLink="/rxjs" routerLinkActive="active">RxJS</a>
  <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
  <a routerLink="/lifecycle-hooks" routerLinkActive="active">Lifecycle Hooks</a>
  <a routerLink="/http-client" routerLinkActive="active">HTTP Client</a>
  <a routerLink="/dynamic-form" routerLinkActive="active">Dynamic Form</a>
  <a routerLink="/attribute-directives" routerLinkActive="active">Attribute Directives</a>
  <a routerLink="/animations" routerLinkActive="active">Animations</a>
  <a routerLink="/basics" routerLinkActive="active">Basics</a>
</nav>

<router-outlet></router-outlet>
