<h2>Lifecycle Hooks</h2>

<nav>
  <a [routerLink]="['/lifecycle-hooks', 'peek-a-boo']" routerLinkActive="active">Peek-A-Boo</a>
  <a [routerLink]="['/lifecycle-hooks', 'spy']" routerLinkActive="active">Spy</a>
  <a [routerLink]="['/lifecycle-hooks', 'on-changes']" routerLinkActive="active">OnChanges</a>
  <a [routerLink]="['/lifecycle-hooks', 'after-view']" routerLinkActive="active">AfterView</a>
  <a [routerLink]="['/lifecycle-hooks', 'after-content']" routerLinkActive="active">AfterContent</a>
</nav>

<router-outlet></router-outlet>
